version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: hr-postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: hr_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: hr-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"

  app:
    build: .
    container_name: hr-backend
    restart: always
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: 1234
      DB_NAME: hr_db
      CLOUDTIME_DSN: ${CLOUDTIME_DSN}

      SQLSERVER_USER: sa
      SQLSERVER_PASSWORD: nycerp
      SQLSERVER_HOST: erp-server
      SQLSERVER_PORT: 1433
      SQLSERVER_DB: dbNYC
    ports:
      - "8080:8080"

volumes:
  postgres_data:
